* {
  font-family: "Roboto", sans-serif;
}


h1, h2{
  font-family: "Montserrat", sans-serif;
}

h2{
  color: #007bac;
}

img {
  height: 250px;
  width: 250px;
}

#landing {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical alignment */
  align-items: center; /* horizontal alignment */
}

#gallery {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical alignment */
  align-items: center; /* horizontal alignment */
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
  color: #ffffff;
}

.tools{
  border: 5px solid #ffffff;
  height: 200px;
  width: 75%;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical alignment */
}

.tools > ul{
  font-size: 20px;
}

nav{
  background-color: #0a3749;
}

html{
  scroll-behavior: smooth;
}